<div class="content-master">
  <div class="dropdown">
    <button class="dropdown-btn" (click)="openDropdown(this.openOption)">
      <img [src]="dropdownIconSrc" />{{affinitySelected}}
    </button>
    <mat-checkbox [(ngModel)]="selectItemAll" (change)="selectAll(selectItemAll)">
      Select All
    </mat-checkbox>
    <span class="dropdown-content" [ngStyle]="{ display: this.openOption ? 'none' : null }">
      <input type="text" class="input-search" [(ngModel)]="term" placeholder="Search">
      <div *ngFor="let item of dataMaster| filter: term">
        <section class="affinity-section">

          <mat-checkbox class="example-margin" [checked]="item.selected" [indeterminate]="item.indeterminate"
            (change)="setAllItem($event.checked, item)">
            {{ item.label }}
          </mat-checkbox>
          <button class="btn" (click)="iconDropdown(!item.optionSubLevel, item)">
            <img [src]="item.iconSrc" />
          </button>
          <span class="affinity-subLevel" [ngStyle]="{ display: !item.optionSubLevel ? 'none' : null }">
            <ul>
              <li *ngFor="let sub of item.subLevel| filter: term ">
                <mat-checkbox [(ngModel)]="sub.selected" (ngModelChange)="selectSubLevel(sub, item)">
                  {{ sub.label }}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
      </div>
    </span>
    <!-- <img src="../assets/ui/down.png" />
    </button> -->
  </div>
</div>