.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.btn {

  background: transparent;
  border: none;
  margin-left: 60px;
  float: right;
  position: relative;
  top: 16px;
  cursor: pointer;
  img {
    width: 10px;
    height: 8.33px;
  }
}
.example-list-section{
 
  width: 100%;
  height: 20px;
  background: orange;
}

.content-master{
  display: block;
  width: 40%;
  height: 100vh;
  margin: 30px;
  padding: 30px;
  justify-content: center;
  align-items:baseline;
  background: #F2EEE1;
}